<div class="flex flex-wrap items-start justify-center mt-3
gap-4 py-2  overflow-x-auto">
  <div class="flex flex-col justify-center sm:items-start items-center sm:text-start
    text-center w-full sm:px-10 px-3">
    <!-- Information Title -->
    <div class="flex sm:flex-row flex-col gap-2 sm:justify-start justify-center items-center">
      <app-svg-icon icon="assignment" size="28px"></app-svg-icon>
      <h3 class="sm:text-2xl text-xl font-semibold sm:text-start text-center">¡Estás a un paso de reservar!</h3>
    </div>

    <hr class="text-bs-primary/20 w-full my-4" />

    <!-- Information Content -->
    <div class="grid sm:grid-cols-2  w-full gap-4">
      <div class="flex items-center gap-4 ">
        <div
          class="flex-shrink-0 size-16 flex items-center justify-center bg-bs-primary/10 dark:bg-bs-primary/20 rounded-lg text-bs-primary">
          <app-svg-icon icon="care" size="48px"></app-svg-icon>
        </div>
        <div>
          <p class="font-bold text-xl">Servicio</p>
          <p class="text-gray-600 font-semibold text-lg">{{ specialty?.name }}</p>
        </div>
      </div>
      <div class="flex items-center gap-4 ">
        <div
          class="flex-shrink-0 size-16 flex items-center justify-center bg-bs-primary/10 dark:bg-bs-primary/20 rounded-lg text-bs-primary">
          @if (profilePictureUrl()) {
          <div class="size-13 rounded-full  overflow-hidden mt-1">
            <img [src]="profilePictureUrl()" alt="Foto de perfil">
          </div>
          } @else {
          <app-svg-icon icon="face" size="48px"></app-svg-icon>
          }
        </div>
        <div>
          <p class="font-bold text-xl">Especialista</p>
          <p class="text-gray-600 font-semibold text-lg">{{ specialist?.firstName }} {{ specialist?.lastName }}</p>
        </div>
      </div>
      <div class="flex items-center gap-4 ">
        <div
          class="flex-shrink-0 size-16 flex items-center justify-center bg-bs-primary/10 dark:bg-bs-primary/20 rounded-lg text-bs-primary">
          <app-svg-icon icon="appointment" size="48px"></app-svg-icon>
        </div>
        <div>
          <p class="font-bold text-xl">Fecha</p>
          <p class="text-gray-600 font-semibold text-lg">{{ dateTime?.toLocaleDateString()}}</p>
        </div>
      </div>
      <div class="flex items-center gap-4 ">
        <div
          class="flex-shrink-0 size-16 flex items-center justify-center bg-bs-primary/10 dark:bg-bs-primary/20 rounded-lg text-bs-primary">
          <app-svg-icon icon="schedule" size="48px"></app-svg-icon>
        </div>
        <div>
          <p class="font-bold text-xl">Horario</p>
          <p class="text-gray-600 font-semibold text-lg">{{ dateTime?.toLocaleTimeString()}}</p>
        </div>
      </div>
    </div>

    <!-- Detail -->
    <div class="flex sm:flex-row flex-col sm:px-4 px-2 py-4 sm:justify-start
       justify-center sm:items-start items-center mt-8 w-full
       gap-2 bg-bs-secondary text-black rounded-2xl">
      <app-svg-icon class="h-full text-bs-third sm:block hidden" icon="info" size="40px"></app-svg-icon>
      <p class="h-full text-pretty w-full sm:text-sm text-xs">
        Revisá bien los datos antes de confirmar. Si hay algo mal, podés volver
        hacia atrás para ajustar tus preferencias. En caso de que esté todo
        bien, recordá que se recomienda llegar 15 minutos antes de cada sesión.
        En el Portal para Clientes vas a poder ver la información del turno, el
        estado del mismo y más.
      </p>
    </div>
  </div>
</div>