@if (!authFacade.user() || authFacade.isCheckingAuth()) {
<app-splash></app-splash>
} @else {
<div class="max-w-full lg:max-w-4xl xl:max-w-7xl mx-8 lg:mx-auto">

  <!-- Title and Description -->
  <app-title-description class="text-black mt-4 sm:text-start text-center w-full" title="Lista de Clientes"
    description="En esta sección se muestra la lista completa de clientes ya atendidos o por atender."></app-title-description>

  <!-- List -->
  <div class="w-full">
    <app-clients-table></app-clients-table>
  </div>
</div>
}