<div class="flex lg:max-w-home-page max-w-184 mt-10 rounded-2xl mx-6
   bg-lightblue-primary">
  <!-- Image -->
  <div class="w-0 md:w-90 lg:w-144 bg-cover bg-center rounded-l-2xl" [ngStyle]="{
      'background-image':
      'linear-gradient(90deg, #0e68d73b, #0e68d73b), url(' + srcImage+ ')'
    }">
    <span class="sr-only">{{ altImage }}</span>
  </div>

  <!-- Content -->
  <div class="flex flex-col md:pt-18 pt-4 md:pb-18 pb-0 lg:px-16 sm:px-12 px-2 w-full text-center">
    <p class="text-sm text-bs-primary font-semibold sm:mb-2 mb-4">{{ sectionText }}</p>
    <h2 class="text-4xl md:text-5xl text-bs-third font-semibold tracking-tight">
      {{ titleFirstLine }}
    </h2>
    <h3 class="text-2xl md:text-1xl text-bs-third font-semibold tracking-tight">
      {{ titleSecondLine }}
    </h3>
    <p class="mt-5 lg:text-lg text-pretty px-3 text-justify">{{ description }}</p>

    <div class="flex flex-col justify-center sm:items-start items-center px-3">
      <ul class="mt-5 list-disc list-inside lg:pl-1 md:pl-5 sm:pl-2 text-start not-lg:text-xs ">
        @for (itemText of listItems; track itemText) {
        <li class="marker:text-bs-third">{{ itemText }}</li>
        }
      </ul>
    </div>
    <a [routerLink]="anchorLink" class="text-white mt-7 py-3 sm:px-5 sm:w-6/12 w-full font-semibold bg-bs-third
       hover:bg-bs-third/90 active:bg-bs-third/80 mx-auto
       transition-colors shadow-md rounded-sm mb-4 lg:mb-0">{{ anchorText }}
    </a>
  </div>
</div>