<div
  class="flex max-w-full 2xl:max-w-home-page mt-8 bg-bs-primary/5 px-4 py-8 lg:px-32 lg:py-16 2xl:p-0 2xl:rounded-2xl">
  <!-- Image -->
  <div class="w-0 lg:w-156 bg-cover bg-center rounded-4xl 2xl:rounded-none 2xl:rounded-l-2xl" [ngStyle]="{
      'background-image':
      'linear-gradient(90deg, rgba(106,76,52,0.16), rgba(100,79,54,0.26)), url(' + srcImage+ ')'
    }">
    <span class="sr-only">{{ altImage }}</span>
  </div>

  <!-- Content -->
  <div class="flex flex-col md:pt-18 pt-4 md:pb-18 pb-0 lg:px-16 sm:px-12 px-2 w-full">
    <h2 class="text-4xl md:text-5xl text-bs-third font-semibold tracking-tight not-md:text-center">
      {{ titleFirstLine }}
    </h2>
    <p class="mt-5 lg:text-lg text-pretty px-3 text-justify">{{ description }}</p>

    <div class="flex flex-col justify-center sm:items-start items-center px-3">
      <ul class="mt-5 list-disc list-inside lg:pl-1 md:pl-5 sm:pl-2 text-start not-lg:text-xs ">
        @for (itemText of listItems; track itemText) {
        <li class="marker:text-bs-third">{{ itemText }}</li>
        }
      </ul>
    </div>
    <div class="mt-8 space-y-4">
      @for (data of data; track data) {
      <div class="flex items-start gap-4">
        <app-svg-icon [icon]="data.icon" size="62px" class="text-bs-third"></app-svg-icon>
        <div>
          <h3 class="text-base font-bold text-black">{{data.title}}</h3>
          <p class="mt-1 text-sm text-black/60">{{data.description}}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>