<div class="flex flex-wrap items-center justify-evenly
     gap-2 xl:px-4 px-1 py-4 
    xl:max-h-86 xl:h-92 max-h-128 overflow-y-auto w-fit">
  @defer (when specialties().length > 0) { @for (specialty of specialties();
  track specialty.id) {
  <button type="button" (click)="selectSpecialty(specialty)" [class.selected]="isSelected(specialty)"
    class="select-none outline outline-lightblue-third rounded-lg p-4 flex flex-col items-center text-center cursor-pointer hover:outline-bs-primary hover:bg-lightblue-primary transition-all transform w-specialty-width min-h-32 ">
    <app-svg-icon [icon]="$any(specialty.id)"></app-svg-icon>
    <h4 class="text-xl font-bold mb-2">{{ specialty.name }}</h4>
    <p class="text-sm text-stone-400" [class.selected]="isSelected(specialty)"> {{ specialty.description }}</p>
  </button>
  } }
  @placeholder (minimum 1.8s) { @for (i of [1, 2, 3, 4, 5, 6]; track
  $index) {

  <div class="w-specialty-width h-24 bg-lightblue-secondary animate-pulse rounded"></div>
  } }
</div>