@if (!user() || isCheckingAuth()) {
<app-splash></app-splash>
} @else {
<div class="max-w-full lg:max-w-4xl xl:max-w-7xl mx-8 lg:mx-auto">
  <!-- Back Button -->
  <button [routerLink]="
      this.user()?.role === 'client'
        ? '/dashboard/client'
        : '/dashboard/specialist'" class="mb-4 -ml-4 flex flex-wrap sm:justify-center justify-start items-center gap-1 rounded-full px-6 py-1.5 cursor-pointer hover:text-bs-third w-auto  hover:bg-bs-secondary/50 active:bg-bs-secondary/90 transition duration-300  outline-bs-primary">
    <app-svg-icon icon="backArrow" size="36px"></app-svg-icon>
    <span class="text-lg">Inicio</span>
  </button>

  <!-- Title and Description -->
  <app-title-description class="text-black mt-4 sm:text-start text-center w-full" title="Mi cuenta"
    description="En esta pantalla podés modificar los datos de tu cuenta."></app-title-description>

  <!-- Edit Form -->
  <div class="mt-4">
    <app-user-edit-form></app-user-edit-form>
  </div>
</div>
}