<form class="w-full max-w-5xl mx-auto mt-4">
  <div class="flex items-center justify-between">
    @for (step of steps; track step.number; let i = $index) {
    <div class="flex flex-col items-center relative z-10">
      <div class="w-12 h-12 rounded-full bg-gray-300 flex items-center justify-center text-white font-bold text-lg"
        [class.current]="currentStep() === step.number" [class.done]="currentStep() > step.number">
        @if (currentStep() > step.number) {
        <app-svg-icon icon="check" size="30px"></app-svg-icon>
        } @else {
        <span>{{ step.number }}</span>
        }
      </div>
      <p class="md:block hidden text-md text-pretty text-gray-400" [class.current-title]="currentStep() >= step.number">
        {{step.title}}</p>
    </div>
    @if (step.number < steps.length) { <div class="flex-1 h-1 bg-gray-300 relative md:bottom-3"
      [class.done]="currentStep() > step.number">
  </div>
  }
  }
  </div>

  <!-- Form Content -->
  <div class="overflow-hidden h-max mt-8 w-full">
    @for (step of steps; track step.number) {
    @if (currentStep() === step.number && step.number === 1) {
    <div class="py-2 sm:px-4 px-2">
      <p class="sm:text-xl text-base text-pretty text-center text-gray-500"><strong>Paso {{step.number}}:</strong> {{
        step.description
        }}</p>
      <app-appointment-specialty-selector class="step-content" [lastSelected]="this.specialtySelected()"
        (specialtyEmitted)="onSpecialtySelected($event)">
      </app-appointment-specialty-selector>
    </div>
    } @else if (currentStep() === step.number && step.number === 2) {
    <div class="py-2 sm:px-4 px-2">
      <p class="sm:text-xl text-base text-pretty text-center text-gray-500"><strong>Paso {{step.number}}:</strong> {{
        step.description }}</p>
      <app-appointment-specialist-selector class="step-content" [specialty]="this.specialtySelected()"
        [lastSelected]="this.specialistSelected()" (specialistEmitted)="onSpecialistSelected($event)">
      </app-appointment-specialist-selector>
    </div>
    } @else if (currentStep() === step.number && step.number === 3) {
    <div class="py-2 sm:px-4 px-2">
      <p class="sm:text-xl text-base text-pretty text-center text-gray-500"><strong>Paso {{step.number}}:</strong> {{
        step.description }}</p>
      <app-appointment-date-selector class="step-content" [specialist]="this.specialistSelected()"
        [lastSelected]="this.dateTimeSelected()" (dateTimeSelected)="onDateTimeSelected($event)">
      </app-appointment-date-selector>
    </div>
    } @else if (currentStep() === step.number && step.number === 4) {
    <div class="py-2 sm:px-4 px-2">
      <p class="sm:text-xl text-base text-pretty text-center text-gray-500"><strong>Paso {{step.number}}:</strong> {{
        step.description }}</p>
      <app-appointment-confirm class="step-content" [specialty]="specialtySelected()"
        [specialist]="specialistSelected()" [dateTime]="dateTimeSelected()"></app-appointment-confirm>
    </div>
    }
    }
  </div>

  <!-- Navigation -->
  <div class="controls flex sm:flex-row flex-col justify-center sm:gap-8 gap-1">
    <button type="button" (click)="prevStep()" disabled [disabled]="currentStep() === 1 || waitingConfirmation()" class="sm:order-1 order-2 cursor-pointer flex justify-center items-center sm:w-72 w-full py-3 sm:px-8 px-2
          font-medium text-lg text-black rounded-lg border border-gray-200
        hover:bg-gray-100 active:bg-gray-200 transition duration-200
        disabled:text-gray-400 disabled:bg-transparent disabled:cursor-auto">
      Atrás
    </button>

    @if (currentStep() < steps.length) { <button type="button" (click)="nextStep()"
      [disabled]="isNextStepDisabled() || appointmentFacade.isLoading()" class="sm:order-2 order-1 cursor-pointer flex justify-center items-center py-3 sm:px-14 px-2 sm:w-72 w-full
          font-medium text-lg text-lightblue-primary rounded-lg
          bg-bs-primary hover:bg-bs-primary/90 active:bg-bs-primary/80 transition duration-200
          disabled:bg-bs-primary/50 disabled:cursor-auto">
      Siguiente
      </button>
      }

      @if (currentStep() === steps.length) {
      <button type="button" (click)="onSubmit()" [disabled]="appointmentFacade.isLoading() || formCompleted()" class="sm:order-2 order-1 relative cursor-pointer
          flex justify-center items-center py-3 sm:px-14 px-2 sm:w-72 w-full
          font-medium text-lg text-lightblue-primary rounded-lg
          bg-bs-primary hover:bg-bs-primary/90
          active:bg-bs-primary/80 disabled:bg-bs-primary/50 disabled:shadow-none 
          disabled:cursor-auto transition-colors duration-300">
        @if (appointmentFacade.isLoading()) {
        <div class="absolute inset-0 flex items-center justify-center">
          <div class="sm:order-2 order-1 animate-spin inline-block size-6 border-3
                 border-current border-t-transparent text-lightblue-primary rounded-full" role="status"
            aria-label="loading"></div>
        </div>
        <span class="opacity-0">Confirmar Turno</span>
        } @else {
        <span>Confirmar Turno</span>
        }
      </button>
      }
  </div>

  @if (appointmentFacade.error()) {
  <p class="text-center text-red-primary font-medium">{{ appointmentFacade.error() }}</p>
  }

</form>