@if (!authFacade.user() || authFacade.isCheckingAuth()) {
<app-splash></app-splash>
} @else {
<div class="max-w-full lg:max-w-4xl xl:max-w-7xl mx-8 lg:mx-auto">
<!-- Title and Description -->
<app-title-description class="text-black mt-4 sm:text-start text-center w-full" title="Lista de Turnos"
  description="Aquí puedes ver todos los turnos agendados, ya sean turnos pendientes, completados o cancelados."></app-title-description>

<!-- List -->
<div class="w-full">
  <app-appointments-table></app-appointments-table>
</div>
</div>

}