@if (!user() || isCheckingAuth()) {
<app-splash></app-splash>
} @else {
<div class="flex justify-center items-center size-full">
  <div class="flex flex-wrap flex-col justify-start items-start min-h-full size-full px-8 not-sm:gap-4">

    <!-- Title and Description -->
    <app-title-description class="text-black text-center w-full" title="Solicitar Nuevo Turno"
      description="Sigue los pasos para agendar tu próximo corte."></app-title-description>


    <div class="size-full">
      <app-request-appointment-form></app-request-appointment-form>
    </div>
  </div>
</div>
}