<div class="xl:mx-auto max-w-home-page mx-4">
  <div class="text-center">
    <h2 class="text-3xl font-bold tracking-tight text-black sm:text-4xl">Contacto</h2>
    <p class="mt-4 text-lg text-black/60">Estamos aquí para ayudarte. Contáctanos por cualquiera de estos medios.</p>
  </div>
  <div class="mt-8 grid grid-cols-1 gap-4 md:gap-8 md:grid-cols-3">
    <app-information-card [title]="'Contacto vía mail'">
      <app-svg-icon icon="email" size="48px" color="currentColor"></app-svg-icon>
      <p description class="text-sm text-black mt-0.5 sm:text-start text-center">
        Podés enviarnos tu consulta o cualquier inquietud acá:
        <a href="mailto:{{email}}" aria-label="Dirección de correo electrónico"
          class="font-extrabold text-bs-primary underline underline-offset-2" rel="noopener noreferrer nofollow">{{
          email }}
        </a>
      </p>
    </app-information-card>
    <app-information-card [title]="'Contacto vía WhatsApp'">
      <app-svg-icon icon="whatsapp" size="42px" viewBox="simpleIcons"></app-svg-icon>
      <p description class="text-sm text-black mt-0.5 sm:text-start text-center">
        Solicitá tu turno o realiza tu consulta por WhatsApp:
        <a href="tel:+57000000000" aria-label="Número de contacto"
          class="font-extrabold text-bs-primary underline underline-offset-2" rel="noopener noreferrer nofollow">{{
          phone }}</a>
      </p>
    </app-information-card>
    <app-information-card [title]="'Ubicación'">
      <app-svg-icon icon="location" size="48px" color="currentColor"></app-svg-icon>
      <p description class="text-sm text-black mt-0.5 sm:text-start text-center">
        {{ location }}
        <a href="https://www.google.com/maps/search/?api=1&query={{location}}" target="_blank" rel="noopener noreferrer"
          class="font-extrabold text-bs-primary underline underline-offset-2">
          Ver en el mapa
        </a>
      </p>
    </app-information-card>
  </div>
</div>