@if (!user() || isCheckingAuth()) {
<app-splash></app-splash>
} @else {
<div class="max-w-full lg:max-w-4xl xl:max-w-7xl mx-8 lg:mx-auto">
  <!-- Back Button -->
  <button [routerLink]="backButtonUrl()" class="my-2 xl:-ml-8 sm:-ml-4 flex flex-wrap
        sm:justify-center justify-start items-center
        gap-1 rounded-full px-6 py-1.5 cursor-pointer
        hover:text-bs-third w-auto 
        hover:bg-bs-secondary/50 active:bg-bs-secondary/90
        transition duration-300 
        outline-bs-primary">
    <app-svg-icon icon="backArrow" size="36px"></app-svg-icon>
    <span class="text-lg">{{ backButtonText() }}</span>
  </button>

  <!-- Title and Description -->
  <app-title-description class="text-black mt-4 sm:text-start text-center w-full" title="Historial de Turnos"
    description="La historia de un cliente es el registro de cada turno completado en BarberApp."></app-title-description>

  <!-- Medical Entries -->
  @if (showContent()) {
  <div class="w-full mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    @for (entry of entries(); track entry.id) {
    <div
      class="bg-white rounded-xl shadow-md overflow-hidden transition-all duration-300 hover:shadow-lg  flex flex-col">
      <div class="p-6 flex-grow">
        <div class="flex items-center gap-4">
          <div class="bg-bs-primary/10 p-3 rounded-full">
            <app-svg-icon [icon]="$any(entry.specialty.id)" size="48px" class="text-bs-primary"></app-svg-icon>
          </div>
          <div class="flex-grow">
            <h3 class="text-xl font-bold text-[#221510]">{{ entry.specialty.name }}</h3>
            <p class="text-md text-[#221510]/80 mt-1">con {{entry.specialistFirstName }} {{ entry.specialistLastName }}
            </p>
          </div>
        </div>
        <div class="mt-4 space-y-2 text-md text-[#221510]/60/60">
          <div class="flex items-center gap-2">
            <app-svg-icon icon="appointment" size="32px" class="text-bs-primary"></app-svg-icon>
            <span>{{ entry.date.toLocaleDateString()}}</span>
          </div>
          <div class="flex items-center gap-2">
            <app-svg-icon icon="schedule" size="32px" class="text-bs-primary"></app-svg-icon>
            <span>{{ entry.date.toLocaleTimeString()}}</span>
          </div>
        </div>
      </div>
      <div class="p-4 bg-gray-5">
        <button (click)="openDiagnosisDialog(entry)"
          class="w-full flex items-center justify-center gap-2 px-4 py-2 rounded-lg bg-bs-primary text-white text-sm font-medium hover:bg-bs-primary/90 transition-colors shadow-md">
          Ver Diagnóstico
        </button>
      </div>
    </div>
    } @empty {
    <p class="text-center text-gray-500 w-max">
      No hay entradas en la historia para mostrar.
    </p>
    }
  </div>
  } @else {
  <div class="flex flex-col justify-center items-center w-full mt-8 mx-auto">
    <div class="animate-spin inline-block size-8 border-4
            border-t-transparent text-bs-third rounded-full" role="status" aria-label="loading"></div>
    <span class="text-center font-medium text-xl mt-3">
      Cargando información...
    </span>
  </div>
  }
</div>
}