<div class="bg-bs-primary/5 py-8 mt-16 px-2 xs:px-0">
  <div class="mx-auto max-w-home-page">
    <div class="text-center">
      <h2 class="text-3xl font-bold tracking-tight text-black sm:text-4xl">Recomendaciones</h2>
      <p class="mt-4 text-lg text-black/60">Lo que dicen nuestros clientes.</p>
    </div>

    @for (recommendation of displayedRecommendations(); track recommendation.author) {
    <div class="rounded-xl bg-white px-4 xs:px-8 py-4 shadow-sm my-8 min-h-50 xs:min-h-40 lg:min-h-30">
      <div class="flex items-center gap-4">
        <div class="h-12 w-12 rounded-full  bg-cover bg-center hidden xs:block"
          style='background-image: url("https://res.cloudinary.com/dfurubiqj/image/upload/v1759346209/default-profile_qzf9ga_mkixzk.png");'>
        </div>
        <div class="flex-1">
          <p class="font-bold text-black">{{ recommendation.author }}</p>
          <p class="text-sm font-semibold text-black/60">{{ recommendation.rol }}</p>
        </div>
        <div class="flex gap-0.5 text-bs-primary">
          @for (i of [].constructor(5); track i; let idx = $index) {
          <app-svg-icon [icon]="(idx+1) <= recommendation.qualification  ? 'starFill': 'star'" size="24px"
            class="text-lightblue-third"></app-svg-icon>
          }
        </div>
      </div>
      <div class="flex flex-row">
        <p class="mt-4 text-black/80 text-justify" [innerHTML]="recommendation.quote"></p>
        <app-svg-icon icon="quote" size="32px" class="text-bs-third/30 self-start ml-1">
        </app-svg-icon>
      </div>
    </div>
    }
  </div>