<footer class="border-t border-bs-primary/10 bg-lightblue-primary">
  <div class="mx-auto max-w-home-page px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex flex-col items-center justify-between gap-6 md:flex-row">
      <div class="flex-1 text-center md:text-left">
        <p class="text-sm text-black/60">© 2025 BarberApp. Todos los derechos reservados.</p>
        <a [href]="github" class="text-sm text-black/60 text-pretty hover:underline cursor-pointer"
          rel="noopener noreferrer nofollow">
          Hecho por Guy Acevedo.
        </a>
      </div>
      <div>
        <div class="flex items-center gap-6">
          <a class="text-sm text-black/60 transition-colors hover:text-black hover:underline cursor-pointer"
            routerLink="/info/politica-de-privacidad">Política de privacidad</a>
          <a class="text-sm text-black/60 transition-colors hover:text-black hover:underline cursor-pointer"
            routerLink="/info/terminos-y-condiciones">Términos de servicio</a>
        </div>
        <div class="flex mt-2 justify-center">
          <a [href]="facebook" class="text-bs-primary hover:text-bs-third transition"
            rel="noopener noreferrer nofollow">
            <app-svg-icon icon="facebook" size="20px" viewBox="simpleIcons"></app-svg-icon>
            <span class="sr-only">Página de Facebook</span>
          </a>
          <a [href]="instagram" class="text-bs-primary hover:text-bs-third ms-5 transition"
            rel="noopener noreferrer nofollow">
            <app-svg-icon icon="instagram" size="20px" viewBox="simpleIcons"></app-svg-icon>
            <span class="sr-only">Cuenta de Instagram</span>
          </a>
          <a [href]="twitter" class="text-bs-primary hover:text-bs-third ms-5 transition"
            rel="noopener noreferrer nofollow">
            <app-svg-icon icon="twitter" size="20px" viewBox="simpleIcons"></app-svg-icon>
            <span class="sr-only">Cuenta de X</span>
          </a>
          <a [href]="tiktok" class="text-bs-primary hover:text-bs-third ms-5 transition"
            rel="noopener noreferrer nofollow">
            <app-svg-icon icon="tiktok" size="20px" viewBox="simpleIcons"></app-svg-icon>
            <span class="sr-only">Cuenta de TikTok</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>