<!-- Hero Section -->
<app-hero-section></app-hero-section>


<!-- Wrapper -->
<div class="flex flex-col items-center">
    <!-- Services -->
    <app-services-prewiew-list></app-services-prewiew-list>
    <!-- Presentation -->
    <app-presentation-wrapper class="animate-on-scroll"></app-presentation-wrapper>
    <!-- Information Wrapper -->
    <div class="pt-16 animate-on-scroll">
        <app-information-wrapper></app-information-wrapper>
    </div>
    <!-- Recommendations -->
    <div class="w-full">
        <app-recommendations></app-recommendations>
    </div>
</div>