<header class="fixed top-0 z-30 p-0 m-0 h-16 w-full shadow-sm">
  <nav class="relative flex items-center justify-between xs:px-10 px-4 py-11 size-full bg-lightblue-primary ">

    <!-- Hamburger Menu (Mobile) -->
    <div class="lg:hidden pl-2">
      <button (click)="toggleMenu()" tabindex="0" class="cursor-pointer z-50 mr-2 relative rounded-xl
        hover:bg-bs-primary shadow active:bg-bs-primary text-bs-primary hover:text-white
        transition-colors duration-300 p-2 outline outline-bs-primary" aria-label="Abrir menú"
        [attr.aria-expanded]="isMenuOpen()" aria-controls="mobile-menu-panel">
        @if (!isMenuOpen()) {
        <app-svg-icon icon="menu" size="34px"></app-svg-icon>
        } @else {
        <app-svg-icon icon="close" size="34px"></app-svg-icon>
        }
      </button>
    </div>

    <!-- Mobile Menu Panel -->
    <nav id="mobile-menu-panel" [class]="{
      'translate-x-0': isMenuOpen(),
      '-translate-x-full': !isMenuOpen(),
      'transition-transform duration-300 ease-in-out': isAnimating()
    }" class="hidden not-lg:fixed xs:top-22 top-18 left-0 w-full h-dvh max-w-xs bg-lightblue-primary
     text-black z-20 transform not-lg:flex flex-col justify-between overflow-auto">
      <ul class="flex flex-col items-start space-y-2 px-8 pt-4">
        @for (item of this.authFacade.user()!.role === 'client' ? navItemsClient : navItemsSpecialist ; track
        item.title){
        <li class="w-full">
          <a (click)="toggleMenu()" class="flex w-full items-center justify-start p-4 text-md text-left font-medium rounded-lg
            hover:bg-bs-primary/20 hover:shadow hover:text-bs-primary transition-colors duration-500"
            [routerLink]="item.href" [attr.tabindex]="isMenuOpen() ? 0 : -1" [attr.aria-label]="item.ariaLabel">
            {{ item.title }}
          </a>
        </li>
        }

        <li class="w-full">
          <hr class="border-t border-lightblue-third w-full my-2" />
        </li>
        <li class="w-full">
          <a (click)="toggleMenu()" routerLink="/info/user/help" [attr.tabindex]="isMenuOpen() ? 0 : -1" class="flex w-full items-center justify-start gap-1.5 p-2 text-md text-left font-medium
           rounded-lg hover:bg-bs-primary/20 hover:shadow hover:text-bs-primary transition-colors duration-300">
            <app-svg-icon icon="help" size="32px" class="text-black"></app-svg-icon>
            <span class="text-lg text-black">Ayuda</span>
          </a>
        </li>
        <li class="w-full">
          <hr class="border-t border-lightblue-third w-full mt-2" />
        </li>

        <li class="w-full">
          <div class="flex justify-center gap-1 w-full mt-4 mb-4">
            <a [href]="facebook" [attr.tabindex]="isMenuOpen() ? 0 : -1"
              class="text-bs-primary hover:text-bs-third transition" rel="noopener noreferrer nofollow">
              <app-svg-icon icon="facebook" size="20px" viewBox="simpleIcons"></app-svg-icon>
              <span class="sr-only">Página de Facebook</span>
            </a>
            <a [href]="instagram" [attr.tabindex]="isMenuOpen() ? 0 : -1"
              class="text-bs-primary hover:text-bs-third ms-5 transition" rel="noopener noreferrer nofollow">
              <app-svg-icon icon="instagram" size="20px" viewBox="simpleIcons"></app-svg-icon>
              <span class="sr-only">Cuenta de Instagram</span>
            </a>
            <a [href]="twitter" [attr.tabindex]="isMenuOpen() ? 0 : -1"
              class="text-bs-primary hover:text-bs-third ms-5 transition" rel="noopener noreferrer nofollow">
              <app-svg-icon icon="twitter" size="20px" viewBox="simpleIcons"></app-svg-icon>
              <span class="sr-only">Cuenta de X</span>
            </a>
            <a [href]="tiktok" [attr.tabindex]="isMenuOpen() ? 0 : -1"
              class="text-bs-primary hover:text-bs-third ms-5 transition" rel="noopener noreferrer nofollow">
              <app-svg-icon icon="tiktok" size="20px" viewBox="simpleIcons"></app-svg-icon>
              <span class="sr-only">Cuenta de TikTok</span>
            </a>
          </div>
        </li>
      </ul>

      <div class=" mb-32 ml-8 flex flex-col justify-center items-start gap-2">
        <span class="text-sm text-black/60">
          © 2025 BarberApp™
        </span>
        <a [href]="github" [attr.tabindex]="isMenuOpen() ? 0 : -1"
          class="text-sm text-black/60 text-pretty hover:underline cursor-pointe" rel="noopener noreferrer nofollow">
          Hecho por Guy Acevedo.
        </a>
      </div>
    </nav>

    <!-- Overlay -->
    <div (click)="toggleMenu()" [class]="{ block: isMenuOpen(), hidden: !isMenuOpen() }"
      class="lg:hidden fixed xs:top-22 top-18 inset-x-0 bottom-0 bg-black/70 z-10"></div>

    <!-- Logo -->
    <a routerLink="/dashboard/{{user()?.role}}" class="flex text-center p-1" aria-label="Ir a la página de inicio de BarberApp">
      <h1 class="text-2xl sm:text-3xl font-semibold text-black object-contain w-56">💈BarberApp</h1>
    </a>

    <!-- Desktop Navigation -->
    <ul class="hidden lg:flex justify-center items-center h-full mr-2 ml-2">
      @for (item of this.authFacade.user()!.role === 'client' ? navItemsClient : navItemsSpecialist ; track item.title)
      {
      <li>
        <a class="flex items-center justify-center p-1.5 xl:p-2 mr-2 xl:mr-4 rounded-lg text-md
          hover:bg-bs-primary/20 hover:shadow hover:text-bs-primary transition-colors duration-500" [routerLink]="item.href"
          tabindex="0" [attr.aria-label]="item.ariaLabel">
          {{ item.title}}
        </a>
      </li>
      }
    </ul>

    <!-- Submenu button -->
    <div class="2xl:mr-40 2xl:ml-0 xl:ml-24 xs:ml-8">
      <app-user-submenu></app-user-submenu>
    </div>


  </nav>
</header>
