<div class="space-y-8">
  <div class="bg-lightblue-primary rounded-lg p-6 border border-bs-primary/20">
    <h3 class="text-2xl font-bold text-stone-900 mb-6">Mis Datos</h3>
    <div class="space-y-4">
      @for (item of personalData; track item.label) {
      <div>
        <p class="text-sm font-medium text-stone-600">{{ item.label }}</p>
        <p class="text-lg font-bold text-stone-900 ">{{ item.value }}</p>
      </div>
      }
    </div>
  </div>
  <div class="bg-lightblue-primary  rounded-lg p-6 border border-bs-primary/20 ">
    <h3 class="text-2xl font-bold text-stone-900 mb-6">Información</h3>
    <div class="flex flex-wrap gap-2">
      @for (item of infoData; track item.value) {
      <span
        class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-bs-primary/20 text-bs-primary">
        {{ item.value }}
      </span>
      }

    </div>
  </div>
  @if(specialistAvailability){
  <div class="bg-lightblue-primary  rounded-lg p-6 border border-bs-primary/20 ">
    <h3 class="text-2xl font-bold text-stone-900 mb-6">Disponibilidad</h3>
    <p class="text-lg font-bold text-stone-900 ">{{specialistAvailability}}</p>
  </div>
  }
  <button routerLink="/dashboard/profile/edit"
    class="w-full flex items-center justify-center rounded-lg bg-bs-primary px-6 py-3 text-base font-bold text-white shadow-lg hover:bg-bs-primary/90 transition-all">
    <app-svg-icon icon="edit" size="36px"></app-svg-icon>
    Editar Información
  </button>
</div>