@if (!user() || isCheckingAuth()) {
<app-splash></app-splash>
} @else {
<div class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-4">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
    <aside class="lg:col-span-1 not-lg:order-1">
      <!-- User Information Card -->
      <app-user-information-card></app-user-information-card>
    </aside>
    <div class="lg:col-span-2">
      <div>
        <!-- Appointments -->
        <app-appointments-pending></app-appointments-pending>
      </div>
    </div>
  </div>
</div>
}