<div class="bg-white shadow-sm rounded-lg overflow-hidden">
  <div class="p-6">
    <div class="mb-6">
      <div class="flex xs:flex-row flex-col flex-wrap xs:gap-2 gap-1 sm:justify-start justify-center items-center mb-4">

        <h3 class="text-2xl font-semibold text-center">
          Información del @if (user?.role === 'client') { Cliente } @else { Especialista}
        </h3>
      </div>
      @if (showContent()) {
      <div class="flex items-center gap-x-4 gap-y-2 flex-wrap">
        <div class="size-16 text-bs-primary rounded-full overflow-hidden  bg-bs-primary img-fade-container">
          @defer (when showContent()) {
          <img [src]="profilePictureUrl()" alt="Foto de perfil"
            class="w-full h-full object-cover img-fade-in user-info-image">
          }
        </div>
       
        <div class="text-sm text-[#221510]/80 ">
           <p class="text-xl font-bold text-bs-primary">{{ user?.firstName + ' ' + user?.lastName}}</p>
          @for (item of personalData; track item.label) {
          <div><span class="font-medium text-[#221510]/60">{{ item.label }}</span> {{ item.value }}</div>
          }
        </div>
      </div>
      } @else {
      <div class="flex flex-col justify-center items-center w-full">
        <div class="animate-spin inline-block size-7
            border-4 border-t-transparent text-bs-third rounded-full" role="status" aria-label="loading"></div>
        <span class="text-center font-medium text-xl mt-3">
          Cargando información...
        </span>
      </div>
      }
    </div>
    <div class="mb-4 flex xs:flex-row flex-col flex-wrap xs:gap-2 gap-1 sm:justify-start justify-center items-center">
      <app-svg-icon icon="assignment" size="32px"></app-svg-icon>
      <h3 class="text-2xl font-semibold text-center">Información del Turno</h3>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      @for (item of appointmentData; track item.label) {
      <div class="flex flex-col">
        <span class="text-sm font-medium text-[#221510]/60"> {{ item.label }}</span>
        <span class="font-semibold"> {{ item.value }}</span>
      </div>
      }
      <div class="flex flex-col">
        <span class="text-sm font-medium text-[#221510]/60">Estado</span>
        <span class="font-semibold inline-flex items-center gap-2">
          <span class="w-2 h-2 rounded-full" [class.pending]="appointment.status === 'pending'"
            [class.completed]="appointment.status === 'completed'"
            [class.canceled]="appointment.status === 'canceled'"></span>
          @switch (appointment.status) {
          @case ('pending') { Pendiente }
          @case ('completed') { Completado }
          @case ('canceled') { Cancelado }
          @default { Desconocido }
          }
        </span>
      </div>
      @if (rating) {
      <div class="flex flex-col">
        <span class="text-sm font-medium text-[#221510]/60">Calificación de la Atención</span>
        <div class="flex items-center">
          @for (star of stars; track star) {
          <app-svg-icon [icon]="rating.score >= star ? 'starFill' : 'star'" class="text-yellow-400"
            size="20px"></app-svg-icon>
          }
          <span class="ml-2 font-semibold text-gray-600">({{rating.score}}/5)</span>
        </div>
      </div>
      }
    </div>
  </div>
</div>